{% load static %}

<!DOCTYPE html>
<lang="en">
    <head>        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}"  >      
<link href = "https://fonts.googleapis.com/icon?family=Material+Icons" rel = "stylesheet">
        <title>Samar's Surprise</title>
    </head>
    <body>
        <header>
            <h1 class="logo">Samar & Milad</h1>
            <!-- <h1 class="logo"><a href="base.html"><img src="{% static 'images/S&M-LOGO.svg' %}"  alt="logo"></a></h1> -->
            <!-- <nav>
                <ul>
                        <li><a href="#">YOUR LOGIN</a></li>
                        <li><a href="#">LOVE</a></li>    
                    </ul>
                </nav> -->
            </header>
          
            <main>
                <img src="{% static 'images/NEWHEADER.png' %}" 
            alt="centered image"/>
                    <section>
                    <h1 class="hero" style="background-image: url('{% static "images/anotherlaugh.jpeg"%}')";">Happy Anniversary eshgam! I can't believe it has already been 5 years! I hope you like what I've created for you. Think of this as a vehicle for what is to come for the rest of the year and maybe even a start of a page we can use for the future. The below countdown is one of several that you will be getting. Once the clock hits zero you will be directed to the next stage. So come visit your site in a couple months 😃 <br>Love, your boo, Milad <br>♥️</br></br></h1>
                </section>
                
                <div class="countdownContainer">
                    <table class="info" >
                        <tr>
                            <td colspan="4" >Days Till Next Event</td>
                        </tr>
                        <tr>
                            <td id="days"></td>
                            <td id="hours"></td>
                            <td id="minutes"></td>
                            <td id="seconds"></td>
                        </tr>
                    </tr>
                            <tr class="days">
                                <td>Days</td>
                                <td>Hrs</td>
                                <td>Min</td>
                                <td>Sec</td>   
                            </tr>
                </table>
            </section class="countdownContainer">
       <script type="text/javascript" src="{% static 'js/countdown.js' %}">
    </script>
        </div>
        </section>
        <section>
        <div class="player">
            <iframe src="https://open.spotify.com/embed/track/7l6q62nz8OjlVJ5HvYkjqZ" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            </div>
        </div>
        
    </section>
    <script type="text/javascript" src="{% static 'js/musicplayer.js' %}">
    </script>
    </main>
            <footer>
                <!-- <ul class="footer-nav">
                    <li><a href="#">LOGIN</a></li>
                    <li><a href="#">LOVE</a></li>
                </ul> -->
                        <div class="copyright">
                            <div class="copyright"> &copy; Copyright 2020 By Milad & Samar</div>
                        </div>
            </footer>
</body>
</html>