{% load static %}

<!DOCTYPE html>
<lang="en">
    <head>        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}">      
<link href = "https://fonts.googleapis.com/icon?family=Material+Icons" rel = "stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/8025f3aa55.css">
        <title>Samar's Surprise</title>
    </head>
    <body>
        <header>
            <h1 class="logo">Samar & Milad</h1>
            </header>
          
            <main>
                <img class="center-image" src="{% static 'images/NEWHEADER.jpg' %}" 
            alt="centered image"/>
                    <section>
                        <div class="fixed-bg" style="background-image: url('{% static "images/optphoto.jpg"%}')";">
                            </div>
                            <div class="scroller">
                                Happy Anniversary eshgam! I can't believe it has already been 5 years! I hope you like what I've created for you. Think of this as a vehicle for what is to come for the rest of the year and maybe even a start of a page we can use for the future. The below countdown is one of several that you will be getting. Once the clock hits zero you will be directed to the next stage. So come visit your site in a couple months 😃 <br>Love, your boo, Milad <br>♥️</br></br>
                            </div>
                </section>
                
                <div class="countdownContainer">
                    <table class="info" >
                        <tr>
                            <td colspan="4" >Days Till Next Event</td>
                        </tr>
                        <tr>
                            <td id="days"></td>
                            <td id="hours"></td>
                            <td id="minutes"></td>
                            <td id="seconds"></td>
                        </tr>
                    </tr>
                            <tr class="days">
                                <td>Days</td>
                                <td>Hrs</td>
                                <td>Min</td>
                                <td>Sec</td>   
                            </tr>
                </table>
            </section class="countdownContainer">
        </div>
        
        </section>
        <section>
            <h2>GALLERY</h2>
            <div class="container">
                <div class="box box1">
                    <div class="overlay"></div>
                    <img src="{% static 'images/pic1.jpeg' %}">
                </div>
                <div class="box box2">
                    <div class="overlay"></div>
                    <img src="{% static 'images/pic2.jpeg' %}">
                </div>
                <div class="box box3">
                    <div class="overlay"></div>
                    <img <img src="{% static 'images/pic3.jpeg' %}">
                </div>
                <div class="box box4">
                    <div class="overlay"></div>
                    <img src="{% static 'images/pic4.jpeg' %}">
                </div>
                <div class="box box5">
                    <div class="overlay"></div>
                    <img src="{% static 'images/pic5.jpeg' %}">
                </div>
                <div class="box box6">
                    <div class="overlay"></div>
                    <img src="{% static 'images/pic6.jpeg' %}">
                </div>
                <div class="box box7">
                    <div class="overlay"></div>
                    <img src="{% static 'images/pic7.jpeg' %}">
                </div>
            </div>
        </section>
        <div class="player">
            <iframe src="https://open.spotify.com/embed/track/7l6q62nz8OjlVJ5HvYkjqZ" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            </div>
    </main>
            <footer>
                        <div class="copyright">
                            <div class="copyright"> &copy; Copyright 2020 By Milad & Samar</div>
                        </div>
            </footer>
</body>
            <script type="text/javascript" src="{% static 'js/gallery.js' %}">
            </script>
    <script type="text/javascript" src="{% static 'js/musicplayer.js' %}">
    </script>
       <script type="text/javascript" src="{% static 'js/countdown.js' %}">
    </script>
</html>